.topBar {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 8px 20px;
  font-size: 14px;
  flex-wrap: wrap;
}

.location,
.contact {
  margin: 4px 0;
}
